
body {
    padding: 0;
    margin: 0;
    background-color: rgba(5, 5, 5, 0.964);
    font-family: 'Poppins',sans-serif;
    color: #f8f8f8;
    outline: none;
    border: none;

    letter-spacing: 0.5px;
}

/* .header-top ,.foot{

} */
.head-title {
    background-color: #000000;
    padding: 2% 15%;
    text-align: left;
    opacity: 100%;

    display: flex;

}
.uhead {
    font-size: 5.5rem;
    font-family: 'fantasy', cursive;
    font-weight: bold;
    color: #fff;
}
.choose-heading {
    text-align: center;
    padding-top: 1%;
    padding-left: 15%;
    padding-right: 15%;
    font-family: "montserrat";
}
.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.button-section{
    background-color: #000000;
}

a:link,
a:visited {
    background-color: transparent;
    letter-spacing: 0.5px;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    outline: none;
    border: none;
    text-decoration: none;

}

a:active,
a:hover {

    text-decoration: none;
    color: #d03b3bfc;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 32px;
    font-weight: bolder;
    line-height: 42px;

}

.main-card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 2.5rem;
    width: 80%;
    margin: 2rem auto;
}

.main-card1 {

    display: flex;
    flex-direction: row;
    margin: 0 auto
}

.main-card2 {

    display: flex;
    flex-direction: row;
    padding: 50px;

}

h1 {
    text-align: center;
    letter-spacing: 0.5px;
    color: white;
    margin-top: 50px;
}

.card1 {
    position: relative;
    margin: 0;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(0deg, rgb(250, 248, 248), rgb(44,43,43));
}

.card2 {
    position: relative;
    margin: 0;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(44,43,43));
}
.card1 a , .card2 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    font-size: 1.5rem;
}

.card1 i , .card2 i{
    font-size: 1.5rem;
}

.footer-section {
    text-align: center;
    background-color: #BAD7E9;
    padding: 2% 15%;

}

.target {
    transform:  scale(1);
  }
.target:hover {
    transform:  scale(1.1); /* Only the value of scale() changed */
  }
  /* <!-- Footer --> */


#footer1{

    text-align: center;
    padding:1% 15%;
}
.share-icon{
    padding:1%;
    margin: 20px 10px;
    font-size: 2rem;
}

@media screen and (max-width: 900px) {
    .main-card{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 550px) {
    .main-card{
        grid-template-columns: 1fr;
    }
    .uhead{
        font-size: 2.5rem;
    }
    .choose-heading{
        font-size: 1rem;
    }
}
